@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 118, 105, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 118, 105, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 118, 105, 0);
  }
}

.recording-pulse {
  animation: pulse 2s infinite;
}
